*{
    box-sizing: border-box;
    margin: 0px;
}
div ::before{
    content: " ";
    height: 100%;
    width: 100%;
    background-color: red;
    
}
.parent{
    margin:20px auto;
    height: 500px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
    gap: 10px 10px;
}

.parent div{
    background-color: rgb(137, 153, 234);
    color: white;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    padding: 20px;
}